
<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%# f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label :email %>
    <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label :password %>
    <%= f.text_field :password, placeholder: "Password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, placeholder: "Repeat Password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label :bio %>
    <%= f.text_area :bio, placeholder: "Tell us about yourself", class: "form-control" %>
  </div>

  <div class="form-group">
    <%# f.label :country %>
    <%= f.text_field :country, placeholder: "Where are you located?", class: "form-control" %>
  </div>
  <div class="form-group">
    <%# f.label "Select Your Preferred Language:" %>
    <%= f.collection_select :language_id, Language.all, :id, :name, {:prompt => "Select a Language"}, class: "form-control" %>
  </div>

  <%= f.submit "Sign Up", :class => 'btn btn-primary mb-2' %>
  
<% end %>