<% @messages.each do |msg| %>
    <p><strong><%= msg.user.name %></strong></p>
    <p><%= @chat.translator.translate msg.content, to: current_user.language.code %></p>
<% end %>

<%= form_for @message do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :chat_id %>
<%= f.submit "Send" %>

<% end %>

<% if @chat.owner_id == session[:user_id] %>
    <p><%= link_to "edit chat", edit_chat_path %></p>
<% end %>