<!DOCTYPE html>
<html>
  <head>
    <title>TalkR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if session[:user_id] %>
      <%= link_to 'Log Out', logout_path , method: "DELETE" %>
    <% end %>
    <%= yield %>
  </body>
</html>
